.text-page{
	font-size: $big-font;
	#main-wrapper{
		padding: 0px 10px;
		@media #{$tablet}
		{
			padding: 0px 15px 0px 7px;
			margin-left:16%;
		  max-width: 1170px;
		}
	}
	&.page-node-64 #main-wrapper{
		font-size: 1.5em;
		@media #{$tablet}
		{
			font-size: 2.5em;
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.node-page{
		padding: 0px 20px 28px 28px;		
		
	}
	.node-page p{
		font-size: 10px;
	}
}

html, body, #page-wrapper{
	height:	100%;
}

#page-wrapper{
	-webkit-overflow-scrolling: touch;
	overflow: auto;
}