.view-people {
  width: 100%;
  padding-top: 10px;
  overflow-x: hidden; }

.view-display-id-page h3, .people-item {
  font-size: inherit;
  font-family: inherit;
  background: white;
  border-top: solid 1px black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 5px; }

.view-display-id-page h3 {
  width: 98%;
  left: 1%; }

/*hide during accordion loading*/
.people-item > div {
  display: inline-block;
  float: left; }

.people-item > div:last-child {
  width: 66%; }

.people-desc * {
  font-family: inherit !important; }

.view-display-id-page .people-item {
  padding: 0px !important;
  position: relative;
  left: 16%;
  top: -15px; }

.view-display-id-page .people-img img {
  width: 100%;
  height: auto; }

.view-display-id-page .people-img {
  min-width: 160px;
  width: 16%;
  float: left;
  margin-right: 6px;
  overflow: none; }

.people-desc {
  font-size: 10px;
  width: auto; }

.view-display-id-page h3.ui-state-active, :not(.mobile) .view-people h3:hover {
  color: lime;
  border-top: solid 1px lime; }

.view-display-id-page .people-img {
  overflow: hidden;
  padding-right: 5px; }

/* people row */
.view-display-id-page_1 .people-table thead {
  background-color: white;
  border: none; }

.view-display-id-page_1 .people-table .sort {
  text-align: left;
  padding-left: 0px; }

.view-display-id-page_1 .people-table tbody tr {
  color: black;
  border-top: solid 1px black;
  border-bottom: none;
  cursor: pointer;
  background-color: inherit; }

.view-display-id-page_1 .people-table tbody tr:hover {
  color: #00FF00;
  border-top-color: #00FF00; }

.view-display-id-page_1 .people-list-item h2, .people-list-item a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit; }

.view-display-id-page_1 .people-table td {
  padding-left: 0px; }

/* /people row */
.view-display-id-page_1 .people-item img {
  width: 100%; }

.view-display-id-page_1 .people-item td {
  align: top;
  vertical-align: top; }

.view-display-id-page_1 .people-table td {
  padding: 0; }

.view-display-id-page_1 .people-table td:first-child {
  width: 15%;
  height: 100%; }

.view-display-id-page_1 .people-table td:nth-child(3) {
  padding-left: 1%; }

.view-display-id-page_1 .people-table td:nth-child(2) {
  width: 15%; }
