.page-studio{
	.people-item{
		font-weight: bold;
		margin-bottom: 15px;
		h2, .people-title, .people-desc{
			line-height: 1.42;
			font-size: $font-size;
		}
		h2, .people-title{
			font-size: $font-size;
			float: left;
			margin: 0;
		}
		.people-desc{
			display: inline-block;
		}
	}
}