html, body, .view-main, .view-main .view-content, .view-main .views-row, .proj-wrapper, .proj-wrapper > div{
	height:100%;
	width:100%;
}

body .superframe{
	position: absolute;
}

body.page-projects{
	overflow: hidden;	
}
.page-projects #page-wrapper{
	position: absolute;
}


/* CLEAN */
.clean{ 
	#promo-wrapper{
		right: -35px;
	}

	#footer{
		bottom: -50px;
	}

	#main-menu :not(.first) a.active, #main-menu :not(.first) a:hover{
		background-color: rgba(0,255,0,0.5);
	}

	#main-menu :not(.first) a{
		background-color: rgba(0,0,0,0.1);	
		top: -10px;
	}
}

.list-closed .view-id-main{
	top: 0%;
	transition: top 1s;
	-webkit-transition: top 1s;
	-moz-transition: top 1s;
	-o-transition: top 1s;
}

.view-id-main{
	position: relative;
	top: 100%;
	transition: top 1s;
	-webkit-transition: top 1s;
	-moz-transition: top 1s;
	-o-transition: top 1s;
}


/* /CLEAN */
/* WORKS LIST */

.page-projects #header{
	width: 98%;
	height: 100%;
	top: 65px;
	position: fixed;
	z-index: 100;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	background: none repeat scroll 0 0 #FFFFFF;
	top: 0%;
	padding: 0% 1%;
	z-index: 149;
	font-size: inherit;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	&:before{
		background: none repeat scroll 0 0 #FFFFFF;
		content: "";
		display: block;
		height: 40px;
		width: 100%;
	}
}
.page-projects.list-closed #header{
	top: -100%;
}

	/* work row */
	.work-table{
		font-size: 20px;
		font-weight: bold;
		& thead{
			background-color: white;
			border: none;
		}
		
		& .sort{
			text-align: left;
			padding-left: 0px;
			padding-bottom: 0px;
		}

		& tbody tr{
			color: black;
			border-top: solid 1px black;
			border-bottom: none;
			cursor: pointer;
			background-color: inherit;
		} 
		
		body:not(.mobile) & tbody tr:hover, & tbody tr.active-proj{
			color: #00FF00;
			border-top-color: #00FF00;
		}
		
		.work-list-item h2, .work-list-item a{
			color: inherit;
			text-decoration: none;
			font-size: inherit;
			font-weight: inherit;
		}
		/*headers*/
		& .sort{
			cursor: pointer;
			div{
				display: inline-block;
				text-indent: -10000px;
				width: 10px;
				height: 10px;
				background-color: black;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-o-border-radius: 50%;
			}
			&.active div{
				background-color: rgb(0,255,0);
			}
			body:not(.mobile) &:hover div{
				background-color: #00FF00;
			}
		}
		
		& td{
			padding-left: 0px;
			padding-bottom: 0px;
		}
	}
	/* /work row */
	
/* /WORKS LIST */

.work-list-item{
	padding-left:0px;
}

.views-field-title{
	width: 32%;
	min-width: 166px;
}

.views-field-field-team, .views-field-field-scale, .views-field-field-city{
	width: 16%;
	min-width: 83px;
}

.views-field-field-topology{
	margin-right: 1%;
	width: 16.7%;
	min-width: 83px;
}

/*  IMAGES  */
.proj-wrapper{
	overflow: hidden;
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
}
div.img-loading{
	background-image: url("../img/loading.gif");
	background-repeat: no-repeat;
	background-size: auto, cover;
	background-position: center, center;
}

:not(.closed) .proj-wrapper .img-loading{
	background-position: center, center;

}

.zoom-placeholder > *.zoom-loading{
	cursor: wait;
}

.zoom-placeholder, .img-final{
	width:	100.3%;
	height: 100%;
	display: inline-block;
	position: relative;
	left: -0.25%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.img-final{
	-webkit-transition: left 0.5s;
}
.closed .proj-wrapper .zoom-placeholder, .closed .proj-wrapper .img-final{
	left: 0%;
}

/* /IMAGES */

/* PROJECT INFO */

#info-trigger{
	top: 65px;
	color: white;
	left: 48%;
	width: 20px;
	height: 20px;
	display: inline-block;
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transform: rotateZ(0deg);
	-webkit-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	background-image: url('../img/cross.png');
	background-size: contain;
}

#info-trigger.closed, .clean #info-trigger{
	left: 0.5%;
	transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
}
.proj-info{
	width: 32.5%;
	left:15.5%;
	position: absolute;
	z-index: 900;
	top: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.8);
	padding: 40px 10px 0px 10px;
	margin: 0px 5px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out 0s, background-color 0.2s ease-out ;
	-moz-transition: all 0.5s ease-out 0s, background-color 0.2s ease-out ;
	-o-transition: all 0.5s ease-out 0s, background-color 0.2s ease-out ;
	a{
		color: $brand;
		&:hover{
			text-decoration: underline;
		}
	}
	.closed &, .clean &{
		left: -34%;
	}
}

.proj-header{
	position: relative;
	/*top: -2.3em;*/
	display: inline;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	background-color: white;
}

.proj-title{
	font-size: x-large;
}

.proj-body{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top:100px;
	bottom: 65px;
	padding: 0px 10px 0px 0px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

@media only screen  
and (min-width : 768px) 
and (max-width : 1024px) {
	.proj-info{
		width: 45%;
		left:0%;
		padding: 40px 5px 0px 5px;
		margin: 0px 0px;
	}

	.closed .proj-info, .clean .proj-info{
		left: -50%;
	}

	#info-trigger{
		left: 47%;
	}

	.closed #info-trigger{
	}
}

@media only screen and (max-width : 768px) {
	.proj-info{
		width: 100%;
		top:0%;
		left: 0;
		margin: 0px 0px;
		height: 45%;
		bottom: auto;
	}

	.proj-body{
		padding: 0px 0px 15px 0px;
	}

	.closed .proj-info, .clean .proj-info{
		top: -53%;
		left: 0;

	}
	.views-row:not(.closed) .proj-wrapper{
		top: 50%;
		height: 50%;
	}
	#info-trigger{
		top: 53%;
		left: 5%;
	}

	#info-trigger.closed{
		top: 0.7%;
	}

	.proj-desc{
		bottom: 5px;
	}

	.zoom-placeholder, .img-final, a.link-to-img{
		width:	100%;
		height: 100.7%;
		top: 0%;
		left:0;
	}

	.closed .proj-wrapper .zoom-placeholder, .closed .proj-wrapper .img-final{
		top: -1%;
		left:0;
	}
	:not(.closed) .proj-wrapper .img-loading{
		background-position: center center, center;
	}
	.proj-team-img {
		right: 15px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.proj-title{
		font-size: large;
	}

	.proj-body{
		font-size: 8px;
	}
}
/* /PROJECT INFO */

/* ARROWS */

@media #{$tablet}
{
	.helper{
		transition: all 0.6s ease-out;
		-webkit-transition: all 0.6s ease-out;
		-moz-transition: all 0.6s ease-out;
		background: rgba(0,0,0,0.7);
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 101;
		&:after{
			position: absolute;
			background-image: url('../img/keyboard.png');
			background-size: auto;
			background-position: center;
			background-repeat: no-repeat;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: inherit;
			content: '';
			z-index: 103;
			margin: auto;
			cursor: pointer;
		}
		&.helpout{
			top: -100%;
			bottom: 100%;
		}
	}
}
.nav{
	position:fixed;
	z-index: 100;
	display: inline-block;
	height: 35px;
	width: 35px;
	text-shadow:1px 1px 5px black;
	text-indent: -9999px;


	&.arrow{
		background-image: url("../img/arrow.png");
		background-repeat: no-repeat;
		background-size: contain;	
		&:hover{
			background-image: url("../img/arrow_black.png");
		}
	}
	:not(.mobile) &:hover{
		cursor: pointer;

	}

	&.nav-horz{
		top:50%;
		-moz-transition: opacity 0.2s;
	}

	&.hidden.nav-horz{
		opacity: 0;
		visibility: hidden;
	}

	&.nav-vert{
		left:50%;
	}

	&#up{
		top:28px;
	}

	&#down{
		bottom:28px;
		-moz-transform: rotatez(-180deg);
		-ms-transform: rotatez(-180deg);
		-o-transform: rotatez(-180deg);
		-webkit-transform: rotatez(-180deg);
		transform: rotatez(-180deg)
	}

	&#left{
		left: 28px;
		-moz-transform: rotatez(-90deg);
		-ms-transform: rotatez(-90deg);
		-o-transform: rotatez(-90deg);
		-webkit-transform: rotatez(-90deg);
		transform: rotatez(-90deg)
	}

	&#right{
		right: 28px;
		-moz-transform: rotatez(90deg);
		-ms-transform: rotatez(90deg);
		-o-transform: rotatez(90deg);
		-webkit-transform: rotatez(90deg);
		transform: rotatez(90deg)
	}
}

/* /ARROWS */