#project-node-view{
font-size: 12px;
width: 95%;
margin: auto;
	background: rgba(0,0,0,0.25);
}

#project-node-view .panel-col-top{
	background: rgba(0,0,0,0.75);
	color: white;
	box-shadow: inset 0 -1px 0 rgba(255,255,255, 0.8);
	min-height: 145px;
}

#project-node-view .panel-col-top a{
	color: white;

}

#project-node-view .panel-col-top a:hover{
	color: white;
	text-decoration: underline;
	
}
#project-node-view td{
vertical-align: middle;
}

#project-node-view .panel-col-first .inside, #project-node-view  .panel-col-middle .inside{
	border: black solid 1px;
	padding: 10px;
	border-radius: 5px;
	margin: 10px
}