.node-page{
	padding: 0px 166px 28px 28px;
	font-size: 26px;	
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.node-page{
		padding: 0px 20px 28px 28px;		
		
	}
	.node-page p{
		font-size: 10px;
	}
}

html, body, #page-wrapper{
	height:	100%;
}

#page-wrapper{
	-webkit-overflow-scrolling: touch
	overflow: auto;
}