tr{
	border-top: black 1px solid;
}

td{
	vertical-align: top;
}

.people-name, .people-image{
	width: 16%;
	padding-left: 0;
	padding-right: 0;
}

.people-desc{
	font-size: inherit;
}

.view-people{
	width:98.5%;
	margin: auto;
}